.mt-1 {
    margin-top: 146px;
}

.mt-2 {
    margin-top: 26px;
}

.mt-3 {
    margin-top: 18px;
}

.mt-4 {
    margin-top: 11px;
}

.mb-1 {
    margin-bottom: 61px;
}

.mb-2 {
    margin-bottom: 52px;
}

.mb-3 {
    margin-bottom: 32px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mr-1 {
    margin-right: 32px;
}

.mr-2 {
    margin-right: 15px;
}

.mr-3 {
    margin-right: 7px;
}