.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-grey-1);
    padding: 1.75rem 0;
    z-index: 100;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
}

.navbar-links{
    display: flex;
    gap: 1rem;
}

.navbar-link{
    background-color: transparent;
    color: var(--color-white-fixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: var(--font-weight-3);
    cursor: pointer;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
}